.text-ui #ability-bar{
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    background: rgb(252, 241, 220);
    padding:16px;
    border:1px solid #888;
    border-radius: 3px;
}